
/* @import 'vendor/reset'; */
@import 'vendor/normalize.css';
@import 'vendor/elements';
@import 'vendor/slick';
@import 'vendor/slick-theme';
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@background: #d4d4d4;
@text: #131313;

@letreiro: #6f8799;
@letreiro_alt: #a09383;
@complementar: #996F87;

@minwidth: 550px; /* tamanho minimo para considerar maior que smartphone */
@maxcontentwidth: 660px; /* tamanho maximo do conteudo do site */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lora', serif;
  color: @text;
}

#imgfundo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
  z-index: -1;

  @media (max-width: 366px) {
    top: 74px;
  }

  @media (min-width: @maxcontentwidth) {
    top: -18%;
    left: 50%;
    margin-left: calc(-528px / 2);
    width: 528px;
  }
}

a {
  color: #000;
}

header {
  width: 100%;
  margin-bottom: 30vw;

  @media (min-width: @maxcontentwidth) {
    margin-bottom: 170px;
    margin-top: 42px;
  }
}

header h1 {
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 10px;
  margin-bottom: 0;
  color: @letreiro;
  font-weight: bolder;
}

#tema, #tema_data {
  background-color: rgba(255, 255, 255, 0.75);
  color: @letreiro_alt;
  text-align: center;
}

#tema {
  padding-top: 10px;
  font-size: 25px;
}

#tema_data {
  font-size: 15px;
  padding-top: 8px;
}

#logoclba {
  display: block;
  margin: 0 auto;
}

header, main, footer {
  padding: 1.1rem;
}

main p, main address {
  background-color: rgba(255, 255, 255, 0.75);
  color: #444;
  line-height: 38px;
  font-size: 20px;
}

img {
  max-width: 100%;
}

#img-capa {
  max-width: 52%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @minwidth) {

    max-width: 40%;
    display: inline;
    float: left;
    margin-right: 1rem;

  }
}

figcaption {
  background-color: #222;
  color: #fff;
  padding: 1ex;
  font-size: smaller;
  text-align: center;
}

#menu {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: calc(-@maxcontentwidth / 2);
  margin-top: 8px;
  padding-left: 1.1rem;

  nav {
    width: 100%;
    line-height: 28px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;

    a {
      background-color: #f8f8fb;
      padding: 1rem;
      display: block;
    }
  }


  @media (min-width: @maxcontentwidth) {

    width: @maxcontentwidth;

    nav {
      display: block;
      width: fit-content;
      position: relative;
      
      a {
        padding: 0.5ex;
        font-size: small;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: padding .2s ease, background-color .2s ease;
        -moz-transition: padding .2s ease, background-color .2s ease;
        -ms-transition: padding .2s ease, background-color .2s ease;
        -o-transition: padding .2s ease, background-color .2s ease;
        transition: padding .2s ease, background-color .2s ease;
      }

      a:hover {
        padding: 0.5ex 0.2ex 0.5ex 0.8ex;
        background-color: #fff;
        color: #1500ff;
      }
    }
  
  }

}

#menu-itens {
  position: absolute;
  width: 100%;
  margin-left: -18px;
  margin-top: -77px;
  padding-left: 0;
  padding-top: 77px;
  background-color: #f8f8fb;
  list-style-type: none;

  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);

  -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -ms-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  @media (min-width: @maxcontentwidth) {

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;

    li {
      display: inline-block;
    }
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 18px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: 27px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    
    background: #232323;
    border-radius: 3px;
    
    z-index: 1;
    
    -webkit-transform-origin: 4px 0px;
    -moz-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    -o-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    
    -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -ms-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    
  }

  span:first-child {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  @media (min-width: @maxcontentwidth) {

    top: 0;

    input, span {
      display: none;
    }
  }
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -moz-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  -o-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -moz-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  -o-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -moz-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  -o-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
} 

#menuToggle input:checked ~ #menu-itens {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}


.prog-horario {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

footer {
  background-color: @complementar;
  color: white;
}

footer p {
  line-height: 24px;
  font-size: 100%;
}

footer #sobre {
  display: flex;
  justify-content: space-between;
}

footer #sobre p {
  flex: 1;
  padding-right: 8px;
}

footer #sobre a {
  flex: 0 1 25%;
}

@media (min-width: @maxcontentwidth) {
  header, main {
    width: @maxcontentwidth;
    margin-left: auto;
    margin-right: auto;
  }

  #footer_container {
    width: @maxcontentwidth;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: @minwidth) {
  footer #sobre a {
    flex: 0 1 120px;
  }

}

.slick-prev, .slick-next {
  background-color: #777;
  border: 1px solid #fff;
  border-radius: 10px;
  &:hover, &:focus {
    background-color: #999;
    border: 1px solid #fff;
    border-radius: 10px;
  }
}